<!-- <input type="text" [(ngModel)]="username" (input)="onEnteringName()"> -->
<!-- two way data binding -->
<input type="text" [(ngModel)]="username"> 

<!-- string interpolation -->
<hr>
<p>username is : {{ username }}</p>

<!-- <button class="btn btn-primary" [disabled]="isUsernameEmpty" (click)="clearUsername()">Clear username</button> -->
<!-- (click) is Event Binding , [disabled] is property Binding -->
<button class="btn btn-primary" 
    [disabled]="username === ''" (click)="username = ''">Clear username</button>

